html{
    font-size: 100%;
    background-image: url(form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  
    
   
}

@media(max-width:998px){
    html{
        font-size: 75%;
    }
    .form select{
        margin: 2rem;
    }
    .form input{
        margin: 2rem;
    }
}    

@media(max-width:688px){
    html{
        font-size: 55%;
    }
    .form select{
        margin: 2rem;
    }
    .form input{
        margin: 2rem;
    }
} 

@media(max-width:976px){
    .form input{
        height: 4rem;
        
    }
    .form select{
        height:4rem;
        
    }
}


.heading{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgb(193, 42, 42);
    
}

.form{
    text-align: center;
   /* background-image: url(form.jpg);*/
    
    
    
    
}
.form input{
    height: 3rem;
    width:50%;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    background-color: rgba(255,255,255,0.5);
    color: black;
    font-weight: bold;
   
    
    
}
.form select{
    height: 3rem;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    background-color: rgba(255,255,255,0.5);
    color: black;
    font-weight: bold;
    
   
}
.btn{
    margin-top: 1rem;
    background-color: rgba(255,255,255,0.5);
}
.btn:focus{
    background-color: rgb(41, 234, 44);
}
